name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Begin CI...
        uses: actions/checkout@v2

      - name: Use Node 12
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Use cached node_modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: nodeModules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            nodeModules-

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        env:
          CI: true

      - name: Install full-icu
        run: yarn add full-icu
        env:
          CI: true

      - name: Lint
        run: yarn lint
        env:
          CI: true

      - name: Setup timezone
        uses: zcong1993/setup-timezone@master
        with:
          timezone: America/New_York

      - name: Test
        run: yarn test --ci --coverage --maxWorkers=2
        env:
          CI: true
          NODE_ICU_DATA: ${{ github.workspace }}/node_modules/full-icu

      - name: Build
        run: yarn build
        env:
          CI: true
